.Path-div {
  width: 99%;
  display: flex;
  justify-content: left;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  background-color: #eeeeee;
}
.Path-div p {
  font-size: larger;
  color: #0d47a1;
  font-weight: bold;
}
.Path-div p > span {
  font-size: larger;
  color: black;
  font-weight: 500;
}
